@import url('https://fonts.googleapis.com/css?family=Anton');

* {
  font-family: 'Anton', sans-serif;
}

.container {
  margin-top: 20px;
  width: 90%;
}

#header h1 {
  font-size: 2em;
  text-align: center;
}

#header img {
  width: 50%;
  max-width: 300px;
  margin: 0 auto;
  display: block;
}

#categories {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.category {
  width: 25%;
}

#streamerInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #6441a4;
  padding: 3% 5%;
  margin-bottom: 5%;
  border-radius: 15px;
  color: #d3cae8;
}

#streamerInfo img {
  width: 50%;
  max-width: 250px;
  border-radius: 10px;
  background-color: #fff;
}

#streamerInfo span {
  color: #FFFACD;
}
.streamer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  margin-top: 20px;
  padding: 15px;
  border: 2px solid #fff;
  border-radius: 15px;
  align-items: center;
}

.streamer a {
  text-decoration: none;
  color: #d3cae8;
}

.streamer a:hover {
  color: #fff;
}