$off_purple: #d3cae8;
$off_yellow: #FFFACD;
$font: 'Anton', sans-serif;
$purple: #6441a4;
$white: #fff;

@import "https://fonts.googleapis.com/css?family=Anton";
* {
	font-family: $font;
}
.container {
	margin-top: 20px;
	width: 90%;
}
#header {
	h1 {
		font-size: 2em;
		text-align: center;
	}
	img {
		width: 50%;
		max-width: 300px;
		margin: 0 auto;
		display: block;
	}
}
#categories {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}
.category {
	width: 25%;
}
#streamerInfo {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: $purple;
	padding: 3% 5%;
	margin-bottom: 5%;
	border-radius: 15px;
	color: $off_yellow;
	img {
		width: 50%;
		max-width: 250px;
		border-radius: 10px;
		background-color: $white;
	}
	span {
		color: $off_yellow;
	}
}
.streamer {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: left;
	margin-top: 20px;
	padding: 15px;
	border: 2px solid $white;
	border-radius: 15px;
	align-items: center;
	a {
		text-decoration: none;
		color: $off_purple;
		&:hover {
			color: $white;
		}
	}
}
